body {
    margin: 0;
    padding: 0;
    background-color: #FAF0E6;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #4B3E2A;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 3rem;
    margin-top: 0.7rem;
  }
  
  .card {
    background-color: #fffefc;
    border-radius: 20px;
    padding: 2rem 3rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
    width: 800px;
  }
  
  .about h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Antic Didone', serif;
    font-weight: 300;
  }
  
  .about p {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  .hello h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: 'Antic Didone', serif;
    font-weight: 300;
    text-align: center;
  }

  .game h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Antic Didone', serif;
    font-weight: 300;
    text-align: left;
  }

  .cv h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Antic Didone', serif;
    font-weight: 300;
    text-align: left;
  }

  .contact h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Antic Didone', serif;
    font-weight: 300;
    text-align: left;
  }
  
  .game-button {
    padding: 0.7rem 1.5rem;
    background-color: #e8d8c3;
    border: none;
    border-radius: 30px;
    color: #4B3E2A;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  
  .game-button:hover {
    background-color: #dbc8b4;
    transform: scale(1.05);
  }
