body {
    margin: 0;
    background-color: #e6feff;
    font-family: 'Preahvihear', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.container {
    background: rgba(0,0,0,0);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 40px;
    font-family: 'Preahvihear', sans-serif;
    border: none;
    background-color: #a58b69;
    color: white;
    cursor: pointer;
    
    transition: 0.3s;
}

button:hover {
    background-color: #ba9c76;
}


.cloud {
    position: absolute;
    background-color: white;
    box-shadow: 0 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}
